[submodule "dep/easy"]
	path = dep/easy
	url = git@github.com:yuyunliuhen/easy.git
[submodule "dep/tinynet"]
	path = dep/tinynet
	url = git@github.com:yuyunliuhen/tinynet.git
[submodule "dep/hiredis"]
	path = dep/hiredis
	url = git@github.com:redis/hiredis.git
[submodule "dep/mongo-c-driver"]
	path = dep/mongo-c-driver
	url = git@github.com:mongodb/mongo-c-driver.git
[submodule "dep/protobuf"]
	path = dep/protobuf
	url = git@github.com:google/protobuf.git
[submodule "dep/jansson"]
	path = dep/jansson
	url = git@github.com:akheron/jansson.git
[submodule "dep/boost"]
	path = dep/boost
	url = git@github.com:boostorg/boost.git
[submodule "dep/mongo-cxx-driver"]
	path = dep/mongo-cxx-driver
	url = git@github.com:mongodb/mongo-cxx-driver.git
